# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Env
.env
myenv/

# Frontend
frontend/node_modules/
frontend/dist/

# Data artifacts
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/vectorstore/*
!data/vectorstore/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
